
<div class="row">
    <div class="col-xs-12">
        <h2>Interpretation of Evaulation Results</h2>
        <div class="graph-container">
            <div id="graph">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>

            <div class="standard-scores">
                <ul>
                    <li>Standard</li>
                    <li>55</li>
                    <li>70</li>
                    <li>85</li>
                    <li>100</li>
                    <li>115</li>
                    <li>130</li>
                    <li>145</li>
                </ul>
            </div>
            <div class="scaled-scores">
                <ul>
                    <li>Scaled</li>
                    <li>1</li>
                    <li>4</li>
                    <li>7</li>
                    <li>10</li>
                    <li>13</li>
                    <li>16</li>
                    <li>19</li>
                </ul>
            </div>
            <div class="t-scores">
                <ul>
                    <li>T-Scores</li>
                    <li>20</li>
                    <li>30</li>
                    <li>40</li>
                    <li>50</li>
                    <li>60</li>
                    <li>70</li>
                    <li>80</li>
                </ul>
            </div>
            <div class="rank-scores">
                <ul>
                    <li>Percantile Rank</li>
                    <li>1</li>
                    <li>5</li>
                    <li>10</li>
                    <li>20</li>
                    <li>30</li>
                    <li>50</li>
                    <li>70</li>
                    <li>80</li>
                    <li>90</li>
                    <li>95</li>
                    <li>99</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12 print-btn-container">
        <button class="btn btn-primary">Save</button>
    </div>
</div>

